<p>Table component</p>
<div>
    <table>
        <thead>
            <th>Index</th>
            <th>Name</th>
            <th>Email-ID</th>
            <th>Action</th>
        </thead>
        <tbody>
            <!--  *ngfor condition to fetch data-->
            <tr *ngFor="let data of userData, let i=index">
                <td>{{i+1}}</td>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>
                    <button class="btn btn-success" (click)="editUser(data,i)">Edit</button>
                    <button class="btn btn-danger"(click)="deleteUser(data,i)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
